*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)) ,url(juja-han-456323-unsplash.jpg);
    background-position: center;
    background-size: cover;
    height:100vh;
}
ul{
    margin:0px;
    padding:5px;
    float: right;
}
ul li{
    margin:10px;
    padding: 5px;
    display: inline-block;
    list-style: none;
}
li a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-family: Advent Pro;
}
li a:hover{
    border: 2px solid white;
}
li a:active{
    border: 2px solid mediumseagreen;
}
#logo img{
    float: left;
    width: 100px;
    height: auto;
    
}
.container{
    width: 900px;
    margin: 100px auto;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    text-align: center;
    
}
.container #aside{
    background-color: mediumturquoise;
    width:690px ;
    float: left;
    height: 487px;
    opacity: 0.7;
    text-align: left;
}

.container #aside2{
    background-color: mediumturquoise;
    width: 190px;
    float: right;
    height: 467px;
    padding: 10px;
    overflow: hidden;
}
p{
    color: white;
    font-size: 14px;
    font-family: Advent Pro;
    padding: 20px;
}
.container #aside2 img{
    width:100px;
    height: 100px;
    border: 2px solid mediumseagreen;
    border-radius: 100px;
    
}
.containerh #aside h3{
    text-align: center;
    top: 30px;
}
.footer{
    width: 100%;
    height: 40px;
    background-color: mediumseagreen;
    left: 0px;
    bottom:0px;
    position: fixed;
    opacity: 0.7;
}
h1{
    font-family: Advent Pro;
    color: white;
    font-size: 72px;
    letter-spacing: 0.3em;
    text-align: center;
    text-shadow: 5px 5px 0px mediumspringgreen;
    text-decoration: underline;
}
